body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}
h1 {
  letter-spacing: 6px;
  color: white;
  font-size: 50px;
  margin: 0;
}
h2 {
  color: rgb(255, 254, 254);
  font-size: 20px;
  letter-spacing: 5px;
  margin: 3px 0 3px 0;
  padding-bottom: 2px;
  border-bottom: 1px dotted white;
  border-bottom-width: 5px;
}
